* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: fantasy, Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body,
#root {
  display: flex;
  place-content: center;
  flex-direction: column;
  background-color: #000;
  height: 100vh;
}

:root {
  --primary-color: #04aa6d;
  --white-color: #e9e9e9;
  --perspective-general: 10000px;
  --max-width: 4000px;
  --color: #2969f1;
  --step-0: clamp(0.75rem, 0.6196rem + 0.6522vw, 1.125rem);
}

/********************COMPONENTS********************/

.component-1-nav {
  position: sticky;
  top: 0;
  z-index: 9999;
  padding-block: 0.3rem;
  max-width: var(--max-width);
  margin-inline: auto;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  padding-bottom: 0.3rem;
  justify-content: space-between;

  .left,
  .right,
  .center {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
  }

  .left,
  .right {
    a {
      padding: 0.5rem;
      text-decoration: none;
      color: var(--white-color);
      font-size: var(--step-0);

      &.active {
        text-shadow: 0 0 10px black;
        text-underline-offset: 8px;
        text-decoration: underline;
      }
    }

    @media (width <= 400px) {
      a:last-child,
      a:last-child {
        display: none;
      }
    }
  }

  .center {
    img {
      max-width: 2.8rem;
    }
  }
}

.component-2-content {
  max-width: var(--max-width);
  margin-inline: auto;
  width: 100%;
  height: 100vh;
}

/********************PAGES********************/
.page-switches {
  width: 100%;
  --w: 100vw;
  --w-negative: calc(var(--w) * -1);
  --h: 100vh;
  height: var(--h);
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(var(--perspective-general));
  transform: perspective(400px);

  @media (width >= 200px) and (orientation: portrait) {
    transform: perspective(500px);
  }

  @media (width >= 768px) {
    transform: perspective(800px);
  }
  @media (width >= 2048px) {
    transform: perspective(2000px);
  }
  @media (width >= 4500px) {
    transform: perspective(5000px);
  }

  .side {
    width: 100%;
    height: var(--h);
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #000 !important;
    box-shadow: inset 0 0 100px #fff8;

    .artisan-row {
      display: flex;
      flex-grow: 1;

      &:nth-child(even) {
        .artisan-row-front {
          --x: 110%;
          --x-negative: calc(var(--x) * -1);
          animation: rowMovement 5s linear infinite alternate;
          z-index: 3;
        }
      }

      &:nth-child(odd) {
        .artisan-row-front {
          --x: 160%;
          --x-negative: calc(var(--x) * -1);
          animation: rowMovement 5s linear infinite alternate-reverse;
          z-index: 3;
        }
      }

      .artisan-row-front,
      .artisan-row-back {
        display: flex;
      }

      .artisan-row-back {
        z-index: 2;
      }

      .artisan-row-front {
        z-index: 3;
        flex-direction: row-reverse;
      }

      .card {
        aspect-ratio: 1;

        img {
          object-fit: cover;
          object-position: center;
          width: 100%;
          height: 100%;
        }
      }
    }

    &.behind {
      transform: translateZ(var(--w-negative));
    }

    &.top {
      height: var(--w);
      transform-origin: 50% 0;
      transform: rotateX(-90deg);
    }

    &.bottom {
      height: var(--w);
      bottom: 0;
      transform-origin: 50% 100%;
      transform: rotateX(90deg);
    }

    &.left {
      width: var(--w);
      left: 0;
      transform-origin: 0 0;
      transform: rotateY(90deg);
    }

    &.right {
      width: var(--w);
      right: 0;
      transform-origin: 100% 0;
      transform: rotateY(-90deg);
    }
  }
}

/********************ANIMATIONS********************/
@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rowMovement {
  0% {
    transform: translateX(calc(var(--x-negative) + 100vw));
  }
  100% {
    transform: translateX(calc(var(--x) - 100vw));
  }
}

/*********************PRESENTATION*********************/
.presentation {
  position: fixed;
  inset: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  height: 100%;
}

.container-floor {
  height: 100vh;
  width: 100%;
  background-color: black;
  perspective: 100px;
  z-index: 1200;
  transform-style: preserve-3d;
  transition: perspective 2s ease;
  animation: perspective 20s linear infinite alternate;

  .floor {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: repeating-linear-gradient(
        transparent 0 30px,
        var(--color) 31px 32px
      ),
      repeating-linear-gradient(
        to right,
        transparent 0 30px,
        var(--color) 31px 32px
      );
    border-left: 1px solid var(--color);
    border-top: 1px solid var(--color);
    transform: rotateX(37deg);
    top: 0;
  }
}

.message {
  position: absolute;
  height: max-content;
  background-color: var(--color);
  color: #000;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  z-index: 1400;
  max-width: 45%;
  border-radius: 999px;
  overflow: hidden;

  h2 {
    flex-basis: 80%;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2vmax 4vmax;
    overflow-wrap: anywhere;
    font-size: clamp(0.7292rem, 0.4958rem + 1.1667vw, 1.4rem);
    font-size: 1.8vmax;
    border-radius: 999px 0 0 999px;
    text-wrap: balance;

    &::before {
      content: '';
      display: block;
      position: absolute;
      inset: -7px;
      z-index: -1;
      animation: change 5s linear infinite;
      border-radius: 999px;
      background-image: linear-gradient(90deg, #209efc, var(--color), #209efc);
      background-size: 400%;
      filter: blur(20px);
      opacity: 1;
    }
  }

  .right {
    flex-basis: 20%;
    min-height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
      border-radius: 0 999px 999px 0;
    }
  }

  @media (width <=1000px) and (orientation: portrait) {
    & {
      min-width: 80%;
    }

    h2 {
      flex-basis: 75%;
    }

    .right {
      flex-basis: 25%;
    }
  }
  @media (width <= 650px) and (orientation: portrait) {
    & {
      min-width: 80%;
    }

    h2 {
      flex-basis: 75%;
    }

    .right {
      flex-basis: 25%;
    }
  }
}

.container-letro-map {
  z-index: 1205;
  position: absolute;
  width: 20vmax;
  height: 20vmax;
  aspect-ratio: 500 / 500;
  background-color: transparent;
  right: 6vmax;
  bottom: -10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .letrero-map {
    aspect-ratio: 500 / 500;
    position: absolute;
    overflow: hidden;

    /* Don't do this at home ._. */
    @media (4608px <=width <=7000px) {
      bottom: 3vmax;
      transform: scale(2);
    }

    @media (2049px <=width <=4607px) {
      bottom: 0vmax;
      transform: scale(1);
    }

    @media (1396px <=width <=2048px) {
      bottom: -1vmax;
      transform: scale(0.8);
    }

    @media (1024px <=width <=1395px) {
      bottom: -5vmax;
      transform: scale(0.7);
    }

    @media (width <=1023px) {
      bottom: -21vmax;
      transform: scale(0.5);
    }

    @media (width <=768px) and (orientation: portrait) {
      bottom: -18vmax;
      transform: scale(0.5);
    }

    @media (width <=768px) and (orientation: landscape) {
      bottom: -25vmax;
      transform: scale(0.45);
    }

    @media (width <=600px) and (orientation: landscape) {
      bottom: -35vmax;
      transform: scale(0.4);
    }

    @media (width <=400px) and (orientation: landscape) {
      bottom: -64vmax;
      transform: scale(0.2);
    }

    @media (width <=320px) and (orientation: landscape) {
      bottom: -70vmax;
      transform: scale(0.1);
    }
  }
}

@keyframes perspective {
  0% {
    perspective: 1px;
  }

  100% {
    perspective: 100px;
  }
}
